<!-- <ion-header>
  <ion-toolbar>
    <ion-title>tab</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon color="warning" name="home-outline"></ion-icon>
      <ion-label>home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tanks">
      <ion-icon color="warning" name="list-outline"></ion-icon>
      <ion-label>Tanks</ion-label>
    </ion-tab-button>
    <ion-tab-button  tab="photos">
      <ion-icon color="warning" name="camera-outline"></ion-icon>
      <ion-label>Photos</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="museums">
      <ion-icon color="warning" name="earth-outline"></ion-icon>
      <ion-label>Musée</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

