<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/museums"></ion-back-button>
    </ion-buttons>
    <ion-title>Nouveau musée</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section>
    <header>Création d'un nouveau musée :</header>
  </section>
  

  <!-- Formulaire sans validation -->



  <!-- <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate> -->
  <!-- <ion-item>
      <ion-label position="floating">Musée</ion-label>
      <ion-input placeholder="Entrez le nom du Musée" type="text" [(ngModel)]="museum.name"></ion-input>
    </ion-item> 
    <ion-item>
      <ion-label position="floating">Emplacement</ion-label>
      <ion-input placeholder="Entrez l'emplacement" type="text" [(ngModel)]="museum.location"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nombre jour d'ouvert</ion-label>
      <ion-input placeholder="Entrez le nombre jour d'ouvert" type="text" [(ngModel)]="museum.openingDate"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Image</ion-label>
      <ion-input placeholder="Entrez l'Image" type="text" [(ngModel)]="museum.image"></ion-input>
    </ion-item>
    <ion-item-divider></ion-item-divider>
    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-textarea placeholder="Entrez une description du véhicule ainsi que certains fait historique" rows="20"
        [(ngModel)]="museum.description"></ion-textarea>
    </ion-item>

    <ion-row class="text-center">
      <ion-button color="warning" expand="block" class="w-50" (click)="add()">Ajouter</ion-button>
    </ion-row>
  </form> -->


  <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>

    <ion-item lines="full">
      <ion-label position="floating">Musée</ion-label>
      <ion-input placeholder="Entrez le nom du Musée" formControlName="name" type="text" [(ngModel)]="museum.name"></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.required">
      Name is required.
    </span>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.openingDate.errors?.maxLength">
      exceed
    </span>

    <ion-item lines="full">
      <ion-label position="floating">Emmplacement</ion-label>
      <ion-input placeholder="Entrez l'emplacement" formControlName="location" type="text" [(ngModel)]="museum.location"></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.location.errors?.required">
      location is required.
    </span>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.location.errors?.maxLength">
      exceed
    </span>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.openingDate.errors?.minLength">
      minimal
    </span>

    
    <ion-item lines="full">
      <ion-label position="floating">Nombre de jours ouvert</ion-label>
      <ion-input placeholder="Entrez le nombre de jours ouvert" formControlName="openingDate" type="text" [(ngModel)]="museum.openingDate"></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.openingDate.errors?.required">
      openingDate is required.
    </span>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.openingDate.errors?.maxLength">
      exceed
    </span>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.openingDate.errors?.minLength">
      minimal
    </span>

    <ion-item lines="full">
      <ion-label position="floating">image</ion-label>
      <ion-input placeholder="Entrez une image (URL)" formControlName="image" type="text" [(ngModel)]="museum.image"></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.image.errors?.required">
      Image is required.
    </span>

    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-textarea placeholder="Entrez une description du musée" formControlName="description" placeholder="Entrez une description du véhicule ainsi que certains fait historique" rows="10" [(ngModel)]="museum.description"></ion-textarea>
    </ion-item>

    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.description.errors?.required">
      Description is required.
    </span>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.description.errors?.maxLength">
      exceed   
    </span>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.description.errors?.minLength">
      minimal
    </span>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="warning" expand="block">Ajouter</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>

