<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab/museums"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="museum">Information sur {{museum.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section>
    <ion-button color="warning" class="w-50" expand="block" (click)="setModif()">
      Rendre Modifiable
      <ion-icon slot="end" name="create"></ion-icon>
    </ion-button>

  </section>




  <div *ngIf="!modif">
    <ion-grid *ngIf="museum">
      <ion-row>
        <img [src]="museum.image">
      </ion-row>

      <ion-row>
        <div class="my-1">
          <ion-text>Musée : </ion-text>
          <strong>{{museum.name}}</strong><br>
        </div>
      </ion-row>
      <ion-row>
        <div class="mb-1">
          <ion-text>Emplacement : </ion-text>
          <strong>{{museum.location}}</strong> <br>
        </div>
      </ion-row>
      <ion-row>
        <div class="mb-1">
          <ion-text>Nombre de jours ouvert : </ion-text>
          <strong>{{museum.openingDate}}</strong> <br>
        </div>
      </ion-row>


      <ion-item-divider>
      </ion-item-divider>
      <ion-row>
        <ion-col>
          <strong>Description</strong> <br>
          <p>
            {{museum.description}}
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-button color="danger" (click)="onDelete(museum.id)" class="w-50" expand="block">
          supprimer
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="modif && museum">
    <ion-item>
      <ion-label position="floating">Musée</ion-label>
      <ion-input placeholder="Entrez le nom du musée" type="text" [(ngModel)]="museum.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Emplacement</ion-label>
      <ion-input placeholder="Entrez l'emplacement" type="text" [(ngModel)]="museum.location"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nombre de jours ouvert</ion-label>
      <ion-input placeholder="Entrez le nombre de jours ouvert" type="text" [(ngModel)]="museum.openingDate"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Image</ion-label>
      <ion-input placeholder="Entrez l'image" type="text" [(ngModel)]="museum.image"></ion-input>
    </ion-item>
    <ion-item-divider></ion-item-divider>
    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-textarea placeholder="Entrez une description du véhicule ainsi que certains fait historique" rows="20"
        [(ngModel)]="museum.description"></ion-textarea>
    </ion-item>

    <ion-row class="text-center">
      <ion-button color="warning" expand="block" class="w-50" (click)="onModif()">Editer</ion-button>

    </ion-row>
  </div>



</ion-content>